:root{
    --light: #004ef7;
    --secondary: #adb5bd;
    --dark: #000000;
    --primary-color: #fa0000;
    --secondary-color: #2ec4b6;
    --border: #e9ecef;
}


body{
    background-color: rgb(226, 218, 218);
    font-family: MaiangraGD;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

* > *{
    box-sizing: border-box;
}

.py-2{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.text-light{
    color:var(--light);
}

.text-secondary{
    color: var(--secondary);
}

.text-dark{
    color: var(--dark);
}

.text-primary{
    color: var(--primary-color);
}

.bg-light{
    background-color: var(--light);
}


.container{
    max-width: 1200px;
    padding: 0 15px;
    padding-bottom: 5%;
    margin: auto;
}

.img-fluid{
    width: 100%
}

.text-title{
    font-family: MaiangraGD;
    font-weight: bold;
}

.secondary-title{
    font-family: sans-serif;
}

.display-1{
    font-size:22px;
}

.display-2{
    font-size: 16px;
}

.display-3{
    font-size: 14px;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.btn{
    padding: 15px 20px;
    border: none;
    background-color: rgb(194, 194, 194);
}

.btn-primary{
    border-radius: 4px;
    background-color:var(--secondary-color);
}

.thumbnail{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.rounded{
    height:120px;
    width:120px;
    object-fit: fill;
    border-radius: 99px;
}

.navbar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.nav-brand{
    font-family: Rockwell;
    font-weight: bold;
    align-self: center;
    font-size: 32px;
}

.collapse{
    align-self: center;
}

.nav-link{
    font-size: 18px;
    margin: 12px;
    color: var(--dark);
    font-family: 'Times New Roman', Times, serif;
}

.nav-link:hover{
    color: var(--primary-color);
}

.search-box{
    display: inline;
    padding-right: 12px;
    margin-right: 10px; 
}

.toggle-button{
    font-size: 21px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    margin: 8px 10px;
    display: none;
}

.toggle-button:focus{
    outline:none;
}

/* Navigation Menu */

/* Main Section */

#site-main{
    margin-top: 8em;
}

#posts{
    margin-bottom: 5em;
}

.grid{
    margin: 0 auto;
}

.grid .grid-item{
    width: calc(20% - 20px);
    margin-bottom: 3em;
}

/* Main Section */

/* footer */
#footer{
    padding-top: 4em;
    background-color: rgb(255, 38, 0);
}
/* footer */

/* article page */
#post{
    padding: 0 2em;
    margin-bottom: 4em;
}

.post-footer .post-author{
    position: relative;
    margin-top: 4em;
    background-color: rgb(204, 204, 204);
}

.post-footer .post-author::after{
    background-color: rgb(226, 218, 218);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    height: 4em;
    z-index: 0;
}

.post-footer .post-author .author-avatar{
    margin: 0 auto;
    margin-bottom:1em;
    position: inherit;
    z-index: 1;
}
/* .article page */

/* Media Query */
.row{
    display: flex;
}

.col-3{
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding-right: 35px;
}

@media(max-width: 1024px){
    .row{
        flex-wrap: wrap;
    }

    .col-3{
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media(max-width: 992px){
    .navbar{
        flex-direction: column;
    }
}

@media(max-width: 768px){
    .grid .grid-item{
        width: calc(50% - 20px)
    }
    .col-3{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media(max-width: 574px){
    .toggle-button{
        display: initial;
    }

 .collapse{
     max-height:0;
     overflow: hidden;

 }

.collapse .nav-link{
    display: block;
    text-align:center;
}

.search-box{
    border-right: none;
  }

.collapse-toggle{
    max-height: 500px;
 }
}