/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* root styling */

:root {
    --light: #004ef7;
    --secondary: #adb5bd;
    --dark: #000000;
    --primary-color: #fa0000;
    --secondary-color: #2ec4b6;
    --border: #e9ecef;
    --fsize-larger: 25px;
    --font-family-primary: 'Montserrat', sans-serif;
    --font-family-title: 'Rockwell'
}

* {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(226, 218, 218);
    font-family: var(--font-family-primary);
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

*>* {
    box-sizing: border-box;
}

header {
    overflow: hidden;
}

p {
    font-family: var(--font-family-primary);
}


/* Styling for page translation popup */

address,
span,
.phone,
.email,
.mt-2 {
    color: #ffffff;
    font-weight: 100;
}

.secondary-title span {
    color: #000000;
}

.noload {
    display: none;
}

.loadElement {
    display: block;
}


/* global styling */

.far,
.fas,
.fab {
    padding-left: 5px;
    padding-right: 5px;
}

.text-light {
    color: var(--light);
}

.text-secondary {
    color: var(--dark);
}

.text-dark {
    color: var(--dark);
}

.text-primary {
    color: var(--primary-color);
}

.bg-light {
    background-color: var(--light);
}

.bg-shadow {
    background-color: var(--secondary);
}

.container {
    max-width: 1200px;
    height: 90px;
    padding: 0 15px;
    padding-bottom: 5%;
    margin: auto;
}

.img-fluid {
    width: 100%
}

.text-title {
    font-family: var(--font-family-title);
    font-weight: 150;
    transition: all 0.2s ease-in-out;
}

.text-title:hover {
    font-size: 28px;
}

.col-3 .text-title:hover {
    font-size: 20px;
}

.secondary-title {
    font-family: sans-serif;
}

.display-1 {
    font-size: 22px;
}

.display-2 {
    font-size: 16px;
}

.display-3 {
    font-size: 14px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.btn {
    padding: 15px 20px;
    border: none;
    background-color: rgb(194, 194, 194);
}

.btn-primary {
    border-radius: 4px;
    background-color: rgb(238, 49, 49);
}

.content {
    font-family: var(--font-family-primary);
}

.object-fit {
    max-height: 120px;
    height: 80px;
    width: 80px;
    object-fit: fill;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.mt-2 {
    margin-top: 10px;
}

.mt-3 {
    margin-top: 50px;
}

.mb-3 {
    margin-bottom: 30px;
}

.m-0 {
    margin: 0;
}

.mt-l {
    margin-left: 175px;
}

.mt-ll {
    margin-left: 135px;
}

.px-1 {
    padding-left: 5px;
    padding-right: 5px;
}

.px-2 {
    padding-left: 20px;
    padding-right: 20px;
}

.py-1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-3 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.thumbnail {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.rounded {
    height: 120px;
    width: 120px;
    object-fit: fill;
    border-radius: 99px;
}

.shadow {
    box-shadow: rgba(32, 47, 131, 0.781) 0 8px 24px;
    overflow: visible;
}


/* Navigation Menu */

.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    overflow: visible;
}

.nav-brand {
    font-family: var(--font-family-title);
    font-weight: bold;
    align-self: center;
    font-size: 32px;
}

.collapse {
    align-self: center;
}

.nav-link {
    font-size: 18px;
    margin: 12px;
    color: var(--dark);
    font-family: var(--font-family-primary);
}

.search-box {
    display: inline;
    padding-right: 12px;
    margin-right: 10px;
}

.toggle-button {
    font-size: 21px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    margin: 8px 10px;
    display: none;
}

.toggle-button:focus {
    outline: none;
}

.dropdown {
    display: inline-block;
}

.dropdownBtn {
    background: transparent;
    border: none;
    font-size: 18px;
    font-family: inherit;
    color: var(--dark);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: none;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: none;
    font-family: inherit;
    border: none;
    background: transparent;
    width: 100%;
}

.dropdown-content button:hover {
    cursor: pointer;
    background: #bab9b6;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Main Section */

#site-main {
    margin-top: 8em;
    overflow: hidden;
}

#posts {
    margin-bottom: 5em;
}

.grid {
    margin: 0 auto;
}

.grid .grid-item {
    width: calc(20% - 20px);
    margin-bottom: 3em;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border: 5px solid #ffffff;
    background: #ffffff;
    transition: all 0.2s ease-in-out;
}

.grid .grid-arc-item {
    width: calc(20% - 34px);
}

.grid .grid-item:hover {
    box-shadow: 10px 10px 12px 0 rgba(0, 0, 0, 0.8);
}

.overflow-img .img-fluid {
    border-radius: 10px;
}


/* Swiper Slide Overlay styling */

.slider-img-wrapper {
    position: relative;
    width: 100%;
}

.slider-img-wrapper img {
    display: block;
    width: 100%;
    height: auto;
}

.slider-img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #525252;
}

.slider-img-wrapper:hover .slider-img-overlay {
    opacity: 0.7;
}

.overlay-text {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: var(--font-family-title);
    font-size: var(--fsize-larger);
}

/* form */
 /* Bordered form */
 form {
    margin-left: 500px;
    margin-top: 20px;
    width: 500px;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    border-radius: 12px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  input[type=email]{
    border-radius: 12px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    border-radius: 12px;
    background-color: var(--primary-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-left: 120px;
    border: none;
    cursor: pointer;
    width: 50%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .loginbtn {
    margin-top: 0px;
    margin-left: 185px;
    width: 100px;
    background-color: var(--primary-color);
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  .flexboxContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;   
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .containerForm {
      margin-top: 70px;
    padding: 20px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  } 
/* footer */

#footer {
    padding-top: 4em;
    background-color: rgb(255, 38, 0);
}

#footer .feature-post .flex-item {
    margin-bottom: 10px;
}

#footer .tags a {
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 15px;
}

#footer .copyrights {
    padding: 10px 0;
    border-top: 2px solid var(--light);
}


/* article page */

#post {
    padding: 0 2em;
    margin-bottom: 4em;
}

.post-footer .post-author {
    position: relative;
    margin-top: 4em;
    background-color: rgb(204, 204, 204);
}

.post-footer .post-author::after {
    background-color: rgb(226, 218, 218);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4em;
    z-index: 0;
}

.post-footer .post-author .author-avatar {
    margin: 0 auto;
    margin-bottom: 1em;
    position: inherit;
    z-index: 1;
}

.post-footer .post-comments .reply {
    padding-left: 7em;
}

.form-control {
    width: 100%;
    border: 2px solid var(--border);
    padding: 1em;
    font-size: 18px;
    margin-right: 10px;
    font-family: var(--font-family-primary);
}

.title-secondary a {
    color: #000000;
    text-decoration: underline;
}


/* sidebar page(not used) */

#sidebar .categories a {
    padding: 1em 3em;
    font-size: 18px;
    margin-bottom: 1em;
    background-color: var(--light);
    border-radius: 99px;
}

#sidebar .categories a:hover {
    background-color: var(--primary-color);
    color: var(--light);
}


/* sticky */

.sticky {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%
}


/* Articles only */

.author-avatar img {
    transition: all 0.2s ease-in-out;
}

.author-avatar img:hover {
    transform: scale(1.5);
}

.form-control:hover,
.submitBtn {
    cursor: not-allowed;
}


/* Media Queries for responsive deign */

.row {
    display: flex;
}

.col-3 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding-right: 35px;
}

.col-8 {
    flex: 0 0 70%;
    max-width: 70%;
}

.col-4 {
    flex: 0 0 30%;
    max-width: 30%;
}

@media(max-width: 1024px) {
    .row {
        flex-wrap: wrap;
    }
    .col-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media(max-width: 992px) {
    .navbar {
        flex-direction: column;
    }
    #site-main {
        margin-top: 14em;
    }
}

@media(max-width: 768px) {
    .grid .grid-item {
        width: calc(50% - 100px)
    }
    .col-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media(max-width: 574px) {
    .toggle-button {
        display: initial;
    }
    .collapse {
        max-height: 0;
        overflow: hidden;
        transition: all 0.8s cubic-bezier(0.51, -0.15, 0, 0.98);
    }
    .collapse .nav-link {
        display: block;
        text-align: center;
        float: left;
    }
    #google_translate_element {
        display: inline-block;
    }
    .search-box {
        border-right: none;
    }
    .collapse-toggle {
        max-height: 500px;
    }
    .grid .grid-item {
        width: calc(100% - 20px)
    }
    #site-main {
        margin-top: 6em;
    }
}